<a href="https://colab.research.google.com/github/3ndung/NLP_CLASSIFICATION_LSTM_SIMPLE/blob/main/CREATEA_DATASEET_NLTK_TYO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data = pd.read_excel('/content/drive/MyDrive/TYO_NLTK/DATASET BARU/DATASET JUDUL BERITA (1500).xlsx')

In [10]:
data = data.rename(columns={'Unnamed: 1':'HEADLINE','Unnamed: 2':'CATEGORY'})

In [11]:
data = data[['HEADLINE','CATEGORY']]

In [12]:
data.head(10)

                                            HEADLINE CATEGORY
0  Total Aset Keuangan Syariah RI Tembus Rp2.200 ...  EKONOMI
1         VIDEO: Bagaimana Cara Kerja Robot Trading?  EKONOMI
2  5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...  EKONOMI
3  Heru Mundur dari Kursi Komisaris BTN Sebelum D...  EKONOMI
4  INFOGRAFIS: Efek Berantai Penguatan Dolar AS k...  EKONOMI
5  Rupiah Lunglai ke Rp15.695 per Dolar AS Imbas ...  EKONOMI
6  Moody's Pangkas Outlook Peringkat Utang Inggri...  EKONOMI
7  Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...  EKONOMI
8  Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...  EKONOMI
9  Rupiah Menguat ke Rp15.563 usai Imbal Hasil Ob...  EKONOMI

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

Hilangakn tanda baca

In [14]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['HEADLINE_CLEAN'] = data['HEADLINE'].apply(lambda x: remove_punct(x))

data.head(10)

,HEADLINE,CATEGORY,HEADLINE_CLEAN
0,Total Aset Keuangan Syariah RI Tembus Rp2.200 ...,EKONOMI,Total Aset Keuangan Syariah RI Tembus Rp2200 T...
1,VIDEO: Bagaimana Cara Kerja Robot Trading?,EKONOMI,VIDEO Bagaimana Cara Kerja Robot Trading
2,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...,EKONOMI,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...
3,Heru Mundur dari Kursi Komisaris BTN Sebelum D...,EKONOMI,Heru Mundur dari Kursi Komisaris BTN Sebelum D...
4,INFOGRAFIS: Efek Berantai Penguatan Dolar AS k...,EKONOMI,INFOGRAFIS Efek Berantai Penguatan Dolar AS ke...
5,Rupiah Lunglai ke Rp15.695 per Dolar AS Imbas ...,EKONOMI,Rupiah Lunglai ke Rp15695 per Dolar AS Imbas B...
6,Moody's Pangkas Outlook Peringkat Utang Inggri...,EKONOMI,Moodys Pangkas Outlook Peringkat Utang Inggris...
7,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...,EKONOMI,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...
8,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...,EKONOMI,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...
9,Rupiah Menguat ke Rp15.563 usai Imbal Hasil Ob...,EKONOMI,Rupiah Menguat ke Rp15563 usai Imbal Hasil Obl...

In [15]:
import re

def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

data['HEADLINE_TOKENIZE'] = data['HEADLINE_CLEAN'].apply(lambda x: tokenize(x.lower()))

data.head(10)

,HEADLINE,CATEGORY,HEADLINE_CLEAN,HEADLINE_TOKENIZE
0,Total Aset Keuangan Syariah RI Tembus Rp2.200 ...,EKONOMI,Total Aset Keuangan Syariah RI Tembus Rp2200 T...,"[total, aset, keuangan, syariah, ri, tembus, r..."
1,VIDEO: Bagaimana Cara Kerja Robot Trading?,EKONOMI,VIDEO Bagaimana Cara Kerja Robot Trading,"[video, bagaimana, cara, kerja, robot, trading]"
2,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...,EKONOMI,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...,"[5, dampak, kenaikan, suku, bunga, bi, yang, b..."
3,Heru Mundur dari Kursi Komisaris BTN Sebelum D...,EKONOMI,Heru Mundur dari Kursi Komisaris BTN Sebelum D...,"[heru, mundur, dari, kursi, komisaris, btn, se..."
4,INFOGRAFIS: Efek Berantai Penguatan Dolar AS k...,EKONOMI,INFOGRAFIS Efek Berantai Penguatan Dolar AS ke...,"[infografis, efek, berantai, penguatan, dolar,..."
5,Rupiah Lunglai ke Rp15.695 per Dolar AS Imbas ...,EKONOMI,Rupiah Lunglai ke Rp15695 per Dolar AS Imbas B...,"[rupiah, lunglai, ke, rp15695, per, dolar, as,..."
6,Moody's Pangkas Outlook Peringkat Utang Inggri...,EKONOMI,Moodys Pangkas Outlook Peringkat Utang Inggris...,"[moodys, pangkas, outlook, peringkat, utang, i..."
7,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...,EKONOMI,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...,"[suku, bunga, the, fed, tekuk, rupiah, berlutu..."
8,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...,EKONOMI,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...,"[jasa, raharja, santuni, 18, korban, kebakaran..."
9,Rupiah Menguat ke Rp15.563 usai Imbal Hasil Ob...,EKONOMI,Rupiah Menguat ke Rp15563 usai Imbal Hasil Obl...,"[rupiah, menguat, ke, rp15563, usai, imbal, ha..."

Hilangkan STOPWORD dalam bahasa Indonesia

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [17]:
stopword = nltk.corpus.stopwords.words('indonesian')

In [18]:
stopword[:5]
stopword = [f' {x} ' for x in stopword]
stopword[:5]

[' ada ', ' adalah ', ' adanya ', ' adapun ', ' agak ']

In [19]:
def remove_stopwords(tokenized_list):
    text = [word for word in tokenized_list if word not in stopword]
    return text

data['HEADLINE_NON_STP'] = data['HEADLINE_TOKENIZE'].apply(lambda x: remove_stopwords(x))

data.head(10)

,HEADLINE,CATEGORY,HEADLINE_CLEAN,HEADLINE_TOKENIZE,HEADLINE_NON_STP
0,Total Aset Keuangan Syariah RI Tembus Rp2.200 ...,EKONOMI,Total Aset Keuangan Syariah RI Tembus Rp2200 T...,"[total, aset, keuangan, syariah, ri, tembus, r...","[total, aset, keuangan, syariah, ri, tembus, r..."
1,VIDEO: Bagaimana Cara Kerja Robot Trading?,EKONOMI,VIDEO Bagaimana Cara Kerja Robot Trading,"[video, bagaimana, cara, kerja, robot, trading]","[video, bagaimana, cara, kerja, robot, trading]"
2,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...,EKONOMI,5 Dampak Kenaikan Suku Bunga BI yang Bikin Beb...,"[5, dampak, kenaikan, suku, bunga, bi, yang, b...","[5, dampak, kenaikan, suku, bunga, bi, yang, b..."
3,Heru Mundur dari Kursi Komisaris BTN Sebelum D...,EKONOMI,Heru Mundur dari Kursi Komisaris BTN Sebelum D...,"[heru, mundur, dari, kursi, komisaris, btn, se...","[heru, mundur, dari, kursi, komisaris, btn, se..."
4,INFOGRAFIS: Efek Berantai Penguatan Dolar AS k...,EKONOMI,INFOGRAFIS Efek Berantai Penguatan Dolar AS ke...,"[infografis, efek, berantai, penguatan, dolar,...","[infografis, efek, berantai, penguatan, dolar,..."
5,Rupiah Lunglai ke Rp15.695 per Dolar AS Imbas ...,EKONOMI,Rupiah Lunglai ke Rp15695 per Dolar AS Imbas B...,"[rupiah, lunglai, ke, rp15695, per, dolar, as,...","[rupiah, lunglai, ke, rp15695, per, dolar, as,..."
6,Moody's Pangkas Outlook Peringkat Utang Inggri...,EKONOMI,Moodys Pangkas Outlook Peringkat Utang Inggris...,"[moodys, pangkas, outlook, peringkat, utang, i...","[moodys, pangkas, outlook, peringkat, utang, i..."
7,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...,EKONOMI,Suku Bunga The Fed Tekuk Rupiah Berlutut Nyari...,"[suku, bunga, the, fed, tekuk, rupiah, berlutu...","[suku, bunga, the, fed, tekuk, rupiah, berlutu..."
8,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...,EKONOMI,Jasa Raharja Santuni 18 Korban Kebakaran KM Ca...,"[jasa, raharja, santuni, 18, korban, kebakaran...","[jasa, raharja, santuni, 18, korban, kebakaran..."
9,Rupiah Menguat ke Rp15.563 usai Imbal Hasil Ob...,EKONOMI,Rupiah Menguat ke Rp15563 usai Imbal Hasil Obl...,"[rupiah, menguat, ke, rp15563, usai, imbal, ha...","[rupiah, menguat, ke, rp15563, usai, imbal, ha..."

In [20]:
data['HH'] = data['HEADLINE_NON_STP'].str.join(" ")

In [21]:
data['HEADLINE'] = data['HH']
data=data[['HEADLINE','CATEGORY']]

data.head(10)

                                            HEADLINE CATEGORY
0  total aset keuangan syariah ri tembus rp2200 t...  EKONOMI
1           video bagaimana cara kerja robot trading  EKONOMI
2  5 dampak kenaikan suku bunga bi yang bikin beb...  EKONOMI
3  heru mundur dari kursi komisaris btn sebelum d...  EKONOMI
4  infografis efek berantai penguatan dolar as ke...  EKONOMI
5  rupiah lunglai ke rp15695 per dolar as imbas b...  EKONOMI
6  moodys pangkas outlook peringkat utang inggris...  EKONOMI
7  suku bunga the fed tekuk rupiah berlutut nyari...  EKONOMI
8  jasa raharja santuni 18 korban kebakaran km ca...  EKONOMI
9  rupiah menguat ke rp15563 usai imbal hasil obl...  EKONOMI

In [22]:
data['CATEGORY'].unique()

array(['EKONOMI', 'KESEHATAN', 'OLAH RAGA'], dtype=object)

In [23]:
EKO = data[data['CATEGORY'] == 'EKONOMI']['HEADLINE'].tolist()
OLA = data[data['CATEGORY'] == 'OLAH RAGA']['HEADLINE'].tolist()
HEL = data[data['CATEGORY'] == 'KESEHATAN']['HEADLINE'].tolist()

In [24]:
display(len(EKO),len(OLA),len(HEL))

521

521

521

In [25]:
EKO1 = EKO[:int(len(EKO)*0.8)]
EKO2 = EKO[int(len(EKO)*0.8):]

In [26]:
OLA1 = OLA[:int(len(OLA)*0.8)]
OLA2 = OLA[int(len(OLA)*0.8):]

In [27]:
HEL1 = HEL[:int(len(HEL)*0.8)]
HEL2 = HEL[int(len(HEL)*0.8):]

In [31]:
def buat1(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TRAIN/EKO/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)

def buat2(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TRAIN/OLA/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)

def buat3(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TRAIN/HEL/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)        



def buat4(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TEST/EKO/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)

def buat5(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TEST/OLA/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)

def buat6(x,y):
  with open(f'/content/drive/MyDrive/TYO_NLTK/DTS3/TEST/HEL/{x}.txt','w') as tulis:
    print(y,end='',file=tulis)

In [32]:
EKO1[1]

'video bagaimana cara kerja robot trading'

In [35]:
for x in range(len(EKO1)):
  buat1(x,EKO1[x])

for x in range(len(HEL1)):
  buat3(x,HEL1[x])

for x in range(len(OLA1)):
  buat2(x,OLA1[x])  



for x in range(len(EKO2)):
  buat4(x,EKO2[x])

for x in range(len(HEL2)):
  buat6(x,HEL2[x])

for x in range(len(OLA2)):
  buat5(x,OLA2[x])